
.left_button:hover{
    cursor:pointer;
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 #00FF00);
    filter: opacity(.5) drop-shadow(0 0 0 #00FF00);
}

.left_button.active{
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 #00FF00);
    filter: opacity(.5) drop-shadow(0 0 0 #00FF00);
}

.click_button:hover{
    cursor:pointer;
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 rgb(43, 145, 97));
    filter: opacity(.5) drop-shadow(0 0 0 rgb(43, 145, 97));   
}

.exit_button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:none;
    background-color: rgba(255, 255, 255, 0.3);
}

.div_window{
    width:50%;
    height:100%;
    float:left;
    border:1px #2d2d2d solid;
}

.div_tab{
    width:100%;
    height:3%;
    border-bottom:1px #2d2d2d solid;
}

.div_panel{
    width:100%;
    height:97%;
    float:top; 
}

.windows{
    width:100%;
    height:100%;
    color:#fff;
    display:none;
}

.display{display:block}

.tool{
    width:100%;
    height:100%;
    display:none;
    overflow:hidden;
    color:#fff;
}


.tab{
    width:200px;
    height:100%;
    background-color:#000;
    position:relative;
    float:left;
    color:#2d2d2d;
}

.tab_img{
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 #00FF00);
    filter: opacity(.5) drop-shadow(0 0 0 #00FF00);
    padding:2px;
}
.activeT{ border-bottom:1px rgb(43, 145, 97) solid;}
.noactiveT{background-color:#000;color:#2d2d2d;}

.tab_button:hover{
    cursor:pointer;
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 #00FF00);
    filter: opacity(.5) drop-shadow(0 0 0 #00FF00);
}

.tab>p{
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

#win_change{cursor:pointer;}

#doctor_info{
    width:96%;
    height:15%;
    border-bottom:1px rgb(43, 145, 97) solid;
    margin-left:2%;
     float:top;
}

#patient_serach{
    width:94%;
    height:30px;
    border:1px rgb(43, 145, 97) solid;
    position:relative;
    left:3%;
    top:20px;
    border-radius:15px;
    background-color:#2d2d2d;
}

#serach_box{
    width:85%;
    height:100%;
    position:relative;
    left:15px;
    background-color:#2d2d2d;
    border:0px;
    color:#fff;
}

#serach_button{
    width:10%;
    padding:6px;
    position:relative;
    left:4%;
    bottom:12%;
}
#serach_button:hover{
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 #00FF00);
    filter: opacity(.5) drop-shadow(0 0 0 #00FF00);
    cursor:pointer;
}